@charset "utf-8";
/* NTS MEDIA UI Development KTH 2022-09-08 */

/* 엔드 */
.u_likeit_module{display:inline-block;vertical-align:top}
.u_likeit_module .u_likeit_btn{padding:0;border:none;height:auto;}
.u_likeit_module .u_likeit_btn .u_ico{width:24px;height:24px;margin:0 0 3px 0;background-image:url(https://ssl.pstatic.net/static/common/likeit/novel/likeit.svg)}
.u_likeit_module .u_likeit_btn.on .u_ico{background-image:url(https://ssl.pstatic.net/static/common/likeit/novel/likeit_on.svg)}
.u_likeit_module .u_likeit_btn .u_cnt,
.u_likeit_module .u_likeit_btn .u_txt{display:block;font-family:'나눔바른고딕',NanumBarunGothic,'나눔고딕',NanumGothic,'돋움',dotum,Helvetica,sans-serif;font-size:13px;font-weight:normal;color:#000;line-height:17px;text-align:center}

/* 뷰어 */
.section_function_viewer .u_likeit_module .u_likeit_btn{line-height:16px;text-align:left;vertical-align:top}
.section_function_viewer .u_likeit_module .u_likeit_btn .u_ico{width:16px;height:16px;margin:-1px 7px 0 0;background-image:url(https://ssl.pstatic.net/static/common/likeit/novel/likeit2.svg)}
.section_function_viewer .u_likeit_module .u_likeit_btn.on .u_ico{background-image:url(https://ssl.pstatic.net/static/common/likeit/novel/likeit2_on.svg)}
.section_function_viewer .u_likeit_module .u_likeit_btn .u_cnt,
.section_function_viewer .u_likeit_module .u_likeit_btn .u_txt{display:inline-block;vertical-align:top;font-size:16px;line-height:16px}