# ours의 파일을 현재 branch로 유지 == 병합 시에 운영 branch에 병합 안됨
.env merge=ours
docker-compose.override.yml merge=ours
Dockerfile.dev merge=ours
*.log merge=ours
config.local.json merge=ours

Backend/Dockerfile.dev merge=ours
Backend/tests/ merge=ours
Frontend/Dockerfile.dev merge=ours
Frontend/src/ merge=ours
Frontend/public/ merge=ours
docker-compose.override.yml merge=ours
.env merge=ours