services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: "961226"
      MYSQL_DATABASE: "test_db"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - app_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5


  backend:
    build: ./Backend
    environment:
      DATABASE_URL: mysql+pymysql://root:root@db:3306/test?charset=utf8
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app  # 로컬 파일 시스템을 컨테이너에 마운트
    networks:
      - app_network
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    build: ./Frontend
    environment:
      - NODE_ENV=development
    ports:
      - "3000:3000"
    volumes:
      - ./Frontend:/app  # 로컬 파일 시스템을 컨테이너에 마운트
      - /app/node_modules  # 로컬의 node_modules가 container 내에 적용되지 않도록
    networks:
      - app_network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nginx/letsencrypt:/etc/letsencrypt
      - ./nginx/www:/var/www/certbot
    networks:
      - app_network
    depends_on:
      - backend
      - frontend

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/letsencrypt:/etc/letsencrypt
      - ./nginx/www:/var/www/certbot
    depends_on:
      - nginx

volumes:
  db_data:

networks:
  app_network:
    driver: bridge