services:
  # db:
  #   image: mysql:8.0
  #   container_name: db
  #   environment:
  #     MYSQL_ROOT_PASSWORD: "961226"
  #     MYSQL_DATABASE: "test_db"
  #   ports:
  #     - "3306:3306"
  #   volumes:
  #     - db_data:/var/lib/mysql
  #   command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
  #   networks:
  #     - app_network
  #   restart: unless-stopped
  #   healthcheck:
  #     test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

  backend:
    image: kwon0528/b106-backend:latest
    container_name: prod-backend
    environment:
      DATABASE_URL: "mysql+pymysql://$DB_USER:$DB_PASSWD@$DB_HOST:$DB_PORT/$DB_NAME?charset=utf8"
      # DEBUG: True
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app  # 로컬 파일 시스템을 컨테이너에 마운트
    networks:
      - app_network
    # depends_on:
    #   db:
    #     condition: service_healthy
    restart: unless-stopped

  frontend:
    image: kwon0528/b106-frontend:latest
    container_name: prod-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./Frontend:/app  # 로컬 파일 시스템을 컨테이너에 마운트
      - /app/node_modules  # 로컬의 node_modules가 container 내에 적용되지 않도록
    networks:
      - app_network

  # Nginx (Reverse Proxy)
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ./frontend:/app/frontend
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    ports:
      - "81:80"
      - "443:443"
    depends_on:
      - backend
      - frontend
    networks:
      - app_network

  # Certbot (SSL)
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do sleep 6h & wait $${!}; certbot renew --webroot -w /var/www/certbot --quiet; done'"
    networks:
      - app_network


volumes:
  db_data:

networks:
  app_network:
    driver: bridge