services:

  backend:
    # build:
    #   context: ./Backend
    #   dockerfile: Dockerfile.dev
    image: kwon0528/b106-backend:local-test
    container_name: dev-backend
    environment:
      DATABASE_URL: mysql+pymysql://$DB_USER:$DB_PASSWD@$DB_HOST:$DB_PORT/$DB_NAME?charset=utf8
      DEBUG: True
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app  # 로컬 파일 시스템을 컨테이너에 마운트
    networks:
      - app_network
    # depends_on:
    #   db:
    #     condition: service_healthy
    restart: unless-stopped

  frontend:
    # build:
    #   context: ./Frontend
    #   dockerfile: Dockerfile.dev
    image: kwon0528/b106-frontend:local-test
    container_name: dev-frontend
    environment:
      - NODE_ENV=development
    ports:
      - "5173:5173"
    volumes:
      - ./Frontend:/app  # 로컬 파일 시스템을 컨테이너에 마운트
      - /app/node_modules  # 로컬의 node_modules가 container 내에 적용되지 않도록
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge