fastapi==0.115.7
uvicorn==0.34.0
SQLAlchemy==2.0.37
PyMySQL==1.1.1
passlib==1.7.4
python-dotenv==1.0.1
python-jose==3.3.0
fastapi-mail==1.4.2
redis==5.2.1
requests==2.32.3
fastapi-users==14.0.1
fastapi-users-db-sqlalchemy==7.0.0
PyJWT==2.10.1
pydantic==2.10.6
pydantic_core==2.27.2
httpx==0.28.1
jose==1.0.0
python-multipart==0.0.20
twilio==9.4.3
google-oauth==1.0.1
Jinja2==3.1.5
python-dateutil==2.9.0.post0
fastjsonschema==2.21.1
email_validator==2.2.0
h11==0.14.0
starlette==0.45.3
itsdangerous==2.2.0
PyYAML==6.0.2